# Python
__pycache__/
*.py[cod]
*$py.class

# Virtualenv
venv/
.venv/

# Django
*.log
db.sqlite3
media/
staticfiles/
local_settings.py

# Migrations cache
**/migrations/__pycache__/

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Env
.env
.env.*